* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.account-page {
    width: 100%;
    height: auto;
    background: #f9f9f9;
    // display: flex;
    // flex-direction: row;

    .add-photo-banner {
        width: 100%;
        height: 266px;
        background-color: #4b4b4b;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s all ease-out;


        .upload-photo {
            width: 350px;
            height: 109px;
            margin: auto;
            text-align: center;
            color: #fff;
            // line-height: 30px;
        }
    }

    .add-photo-banner:hover {
        background: rgba(14, 1, 97, 0.718);
        cursor: pointer;
    }

    .user-data {
        width: 360px;
        height: 697px;
        background: #fff;
        position: relative;
        left: 50px;
        top: -150px;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        // border: 1px solid red;
        text-align: center;
        line-height: 50px;

        .user-data-ichki-div {
            width: 340px;
            height: 645px;
            background: #fff;
            border-radius: 5px;
            // border: 1px solid green;
            margin-top: 30px;

            p {
                margin: 6px;
            }

            button {
                width: 298px;
                height: 38px;
                background: #0057ff;
                border: none;
                border-radius: 28px;
                color: #fff;
                // margin: auto;
                cursor: pointer;
                padding: 8px 0;
            }

            .user-photo-profile {
                width: 110px;
                height: 110px;
                border-radius: 50%;
                margin: auto;
            }

            .user-photo-profile img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }

            .adobe-portfolio {
                width: 298px;
                height: 38px;
                background: #fff;
                border: 1px solid rgb(211, 208, 208);
                border-radius: 28px;
                color: #111;
                margin-top: 2px;
                cursor: pointer;
            }

            .nanyat {
                width: 298px;
                height: 260px;
                border: 1px solid rgb(222, 221, 221);
                margin: auto;
                margin-top: 35px;
                border-radius: 5px;
                line-height: 20px;

                button {
                    width: 90%;
                    color: #0057ff;
                    background-color: #f5f8ff;
                    font-size: 16px;
                    transition: .3s linear;
                    margin-top: 25px;
                }

                h4 {
                    text-align: start;
                    padding: 8px 0 8px 15px;
                }

                .h4 {
                    padding: 14px;
                    // margin-top: 8px;
                }

                p {
                    padding-left: 10px;
                    text-align: left;
                }

                button:hover {
                    background-color: #dbdfe7;
                }
            }
        }


    }

    .container-for-uploading-images {
        width: 72%;
        height: 100vh;
        border: 2px solid yellow;
        float: right;
        position: relative;
        top: -680px;


        .nav-bar {
            width: 100%;
            height: 60px;
            border: 2px solid green;
            width: 100%;
        }

        .images-container {
          width: 90%;
          height: 90vh;
          border: 2px solid red;
        }

    }

















    @media (max-width:1200px) {
        .add-photo-banner {
            height: 176px;
        }

        .upload-photo {
            display: none;
        }

        .user-photo-profile {
            position: relative;
            top: -90px;
        }

        .user-data {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;
            left: 0;
            top: 0;

            .user-data-ichki-div {

                width: 100%;
                height: auto;
                display: flex;
                justify-content: center;
                flex-direction: column;
                position: relative;
                left: 0;
                top: 0;

                // 8600020377342584
                .user-photo-profile {
                    border: 10px solid white;
                }

                .h2pb {
                    position: relative;
                    top: -72px;

                }

                button {
                    width: 95%;
                    margin: 10px;
                }

                .adobe-portfolio {
                    display: none;
                }

                hr {
                    width: 100%;
                }

                .nanyat {
                    width: 95%;
                    height: auto;
                    margin: auto;
                    position: relative;
                    top: -75px;

                    button {
                        width: 95%;
                    }
                }
            }
        }


    }

    @media (max-width:686px) {
        .add-photo-banner {
            height: 146px;
        }
    }
}