* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.account-page {
    width: 100%;
    height: 100vh;
    background: #f9f9f9;

    .add-photo-banner {
        width: 100%;
        height: 266px;
        background-color: #4b4b4b;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s all ease-out;


        .upload-photo {
            width: 350px;
            height: 109px;
            margin: auto;
            text-align: center;
            color: #fff;
            // line-height: 30px;
        }
    }

    .add-photo-banner:hover {
        background: rgba(14, 1, 97, 0.718);
        cursor: pointer;
    }

    .user-data {
        width: 360px;
        height: 697px;
        background: #fff;
        position: relative;
        left: 50px;
        top: -150px;
        border-radius: 5px;
        // border: 1px solid red;
        text-align: center;
        line-height: 50px;
        
        button{
            width: 298px;
            height: 38px;
            background:#0057ff;
            border: none;
            border-radius: 28px;
            color: #fff;
            margin: auto;
            cursor: pointer;
        }
        .user-photo-profile {
            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: auto;
            // margin-top: 30px;
        }
        .user-photo-profile img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
        .adobe-portfolio{
            width: 298px;
            height: 38px;
            background:#fff;
            border:1px solid rgb(211, 208, 208);
            border-radius: 28px;
            color: #111;
            margin: auto;
            display: flex;
            justify-content: center; 
            align-items: center; 
            margin-top: 2px;    
            cursor: pointer;     
        }

        .nanyat{
            width: 298px;
            height: 250px;
            border: 1px solid rgb(222, 221, 221);
            margin: auto;
            margin-top: 30px;
            border-radius: 5px;
        }
    }
     






    @media (max-width:1200px) {
        .add-photo-banner {
            height: 176px;
        }
        .upload-photo {
            display: none;
        } 
        .user-photo-profile{
          position: relative;
          top: -90px;
        }
        .user-data {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: center;
            flex-direction: column;
            position: relative;
            left: 0;
            top: 0;
            
            // 8600020377342584
            .user-photo-profile {
                border: 10px solid white;
            }
            .h2pb{
                position: relative;
                top: -72px;
            }
            button{
                width: 90%;
            }
            .adobe-portfolio{
                display: none;
            }
        }

    }
    @media (max-width:686px) {
        .add-photo-banner {
            height:146px;
        }
    }
}