*{
    padding: 0;
    margin: 0;
}

.account-page{
    width: 100%;
    height: 100vh;
    background: #ffffff;

    .add-photo-banner{
        width: 100%;
        height: 266px;
        background: 4b4b4b;
    }
}
