* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.editPage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  .editCont {
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px 0;

    .imageBox{
        position: relative;
        width: 330px;
        height: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        img{
          border-radius: 50%;
        }
        label{
            border: 1px solid #ccc;
            display: inline-block;
            padding: 6px 12px;
            cursor: pointer;
            input[type="file"] {
              display: none;
            }
          }
    }

    .imageBox::after{
        content: "";
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: silver;
        right: 0;
    }


    .userInfo{
       height: 50%;
        form{
            display: flex;
            flex-direction: column;
            gap: 25px;
            
            label{
                display: flex;
                flex-direction: column;
                gap: 10px;

                input{
                    width: 234px;
                    height: 32px;

                }

                input:focus{
                    outline: none;
                    border: 1px solid blue  ;
                }
            }
         
            button{
                width: 232px;
                height: 40px;
                background:linear-gradient(rgb(0, 191, 255),rgb(0, 191, 255));
                background-repeat: no-repeat;
                background-size: 0 100%;
                background-position-x:left;
                transition: 500ms;
                color: black;
                border-color: silver;
            }

            button:hover{
                background-size: 100% 100%;
                background-position-x:left;
                color: white;
            }
            
        }
    }
  

    
  }
}
