.mainDiv {
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  bottom: 5vw;

  .circle {
    position: fixed;
    right: 0;
    width: 50px;
    height: 50px;
    border: 2px solid rgb(1, 10, 14);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    z-index: 1;
    right: 1vw;
    cursor: pointer;

    span {
      font-size: 30px;
      color: rgb(1, 15, 20);
      transition: 0.5s;
    }
  }

  .circle:hover {
    span {
      transform: scale(1.1);
    }
  }

  .divForm {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 200px;
    position: fixed;
    right: 5vw;
    bottom: 20%;
    transition: visibility 1s, opacity 0.5s linear;

    form {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 10px;

      button {
        width: 209px;
        height: 30px;
        transition: 0.5s;
        border-radius: 10px;
        background-color: white;
        border: 2px solid rgb(0, 191, 255);
        cursor: pointer;
      }

      input,
      textarea {
        width: 90%;
        height: 50px;
        font-size: 15px;
        text-align: center;
        border: 2px solid rgb(0, 191, 255);
      }

      textarea {
        width: 90%;
        height: 150px;
        resize: none;
        padding: 6px;
      }

      input:focus,
      textarea:focus {
        outline: none;
        border: 2px solid rgb(0, 191, 255);
      }
    }
  }
}