* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.navBar {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid rgb(198, 196, 196);
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background-color: #4b4b4b;
    position: fixed;
    top: 0;
    z-index: 10;

    ul {

        li {
            display: inline-block;
            margin: -5px 12px;
            line-height: 60px;

            a {
                text-decoration: none;
                color: white;
                font-size: 16px;


            }

            a:hover {
                border-bottom: 3px solid black;
                padding-bottom: 19px;
                transition: 1s;
            }

            .input-div {
                width: 22vw;
                height: 35px;
                display: flex;
                justify-content: flex-end;
                border-radius: 25px;
                background: #fff;
                overflow: hidden;

                input {
                    width: 90%;
                    height: 100%;
                    border: none;
                    outline: none;
                }
            }

            button {
                width: 185px;
                height: 35px;
                border: none;
                border-radius: 25px;
            }
        }

        .sharePhoto {
            width: 25px;
            height: 25px;
            position: relative;
            top: 7px;
            right: 7px;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 50%;
            }
        }
    }
}




/*---------------------------------------Media----------------------------------------------------*/


@media (max-width:1288px) and (min-width:1260px) {
    ul {
        li {
            div {
                width: 100%;
            }

            button {
                width: 12vw;
            }
        }
    }
}