* {
  padding: 0;
  margin: 0;
}

.mainSec {
  width: 100%;
  height: auto;


  .main-img-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;

    img {
      width: 300px;
      height: 250px;
    }

  }


  .bagImage {
    width: 100%;
    height: 100%;
    text-align: right;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .likeButton {
    width: 60px;
    height: 60px;
    background-color: #0057FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    position: absolute;
    right: -5%;
    top: 10%;
  }


  .box-modal {
    border: none;
    outline: none;
  }


  .closeImage {
    position: absolute;
    right: -4%;
  }

}