* {
  padding: 0;
  margin: 0;
}

.mainSec {
  width: 100%;
  height: auto;


  .main-img-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
position: relative;
top: 80px;


   .img-box{
    width: 280px;
    height: 250px;
  // border: 1px solid red;

  .like-view{
    width: 100%;
    height: 25px;
    // border: 1px solid green;
     display: flex;
     justify-content:space-between;
     align-items: center;


  }
  
  
  img {
    width:100%;
    height:90%;
    object-fit: cover;
    border-radius: 5px;
    background-size: 100% 100%;
    }

    .sharePhoto {
      width: 25px;
      height: 25px;
    

      img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
      }
    }
  }
    .preloader{
      width: 50%;
      height: 50%;
      display: flex;
      justify-content: center;
      // align-items: center;
    }

  }


  .bagImage {
    width: 100%;
    height: 100%;
    text-align: right;
    position: relative;
    display: flex;
    flex-direction: column;
  }

  .likeButton {
    width: 60px;
    height: 60px;
    background-color: #0057FF;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    position: absolute;
    right: -5%;
    top: 10%;
  }


  .box-modal {
    border: none;
    outline: none;
  }


  .closeImage {
    position: absolute;
    right: -4%;
  }

}