label {
    display: inline-block;
    margin-left: 10vw;
    margin-top: 30vh;
    cursor: pointer;
    input[type="file"] {
        display: none;
    
    }
    img{
        width: 100px;
        position: absolute;
    }
}




button{
    position: relative;
    border: 1px solid;
    width: 10vw;
    margin-top: 110px;
    background-color: aqua;
    &:active{
        background-color: rgb(0, 255, 0);
    }
  
}